<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.mall.other.infra.mapper.AllocationInfoMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.srm.mall.other.domain.entity.AllocationInfo">
        <result column="allocation_id" property="allocationId" jdbcType="DECIMAL"/>
        <result column="cart_id" property="cartId" jdbcType="DECIMAL"/>
        <result column="delivery_type" property="deliveryType" jdbcType="VARCHAR"/>
        <result column="cost_shop_id" property="costShopId" jdbcType="DECIMAL"/>
        <result column="cost_shop_code" property="costShopCode" jdbcType="VARCHAR"/>
        <result column="cost_shop_name" property="costShopName" jdbcType="VARCHAR"/>
        <result column="cost_department_id" property="costDepartmentId" jdbcType="DECIMAL"/>
        <result column="cost_department_code" property="costDepartmentCode" jdbcType="VARCHAR"/>
        <result column="cost_department_name" property="costDepartmentName" jdbcType="VARCHAR"/>
        <result column="receive_warehouse_id" property="receiveWarehouseId" jdbcType="DECIMAL"/>
        <result column="receive_warehouse_code" property="receiveWarehouseCode" jdbcType="VARCHAR"/>
        <result column="receive_warehouse_name" property="receiveWarehouseName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="selectAllocationShopOrganization" resultType="org.srm.mall.other.api.dto.OrganizationInfoDTO">
        SELECT
        h.organization_id,
        h.organization_code,
        h.organization_name,
        h.ou_id,
        h.tenant_id,
        h.attribute2 type
        FROM hpfm_inv_organization h
        WHERE
        h.tenant_id = #{organizationId}
        AND h.enabled_flag = 1
        AND h.attribute2 = #{type}
        <if test="organizationCode != null and organizationCode != ''">
            <bind name="organizationCodeLike" value="'%' + organizationCode + '%'"/>
            AND h.organization_code like #{organizationCodeLike}
        </if>
        <if test="organizationName != null and organizationName != ''">
            <bind name="organizationNameLike" value="'%' + organizationName + '%'"/>
            AND h.organization_name like #{organizationNameLike}
        </if>
    </select>
    <select id="selectHasProjectSubcategoryId" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        scux_watsons_project_cost_subcategory swpcs
        WHERE
            swpcs.project_cost_id = #{projectCostId}
        AND
            swpcs.tenant_id = #{tenantId}
    </select>
    <select id="selectIdByCode" resultType="org.srm.mall.region.api.dto.AddressDTO">
        SELECT
        hio.organization_id invOrganizationId,
        hio.organization_code invOrganizationCode,
        hio.organization_name invOrganizationName
        FROM
            hpfm_inv_organization hio
        WHERE
            hio.tenant_id = #{organizationId}
        AND
            hio.enabled_flag = 1
        AND
            hio.organization_code = #{watsonsOrganizationCode}
        AND
            hio.source_code != "SYSTEM"
    </select>
    <select id="selectRegionInfoByRegionId" resultType="org.srm.mall.other.api.dto.WatsonsRegionDTO">
        SELECT
            sr.region_id,
            sr.region_code,
            sr.region_name,
            sr.parent_region_code,
            sr.region_level,
            sr.level_path
        FROM
            smal_region sr
        WHERE
            sr.enabled_flag = 1
        AND
            sr.region_id = #{regionId}
    </select>
    <select id="selectRegionInfoByRegionCode" resultType="org.srm.mall.other.api.dto.WatsonsRegionDTO">
        SELECT
            sr.region_id,
            sr.region_code,
            sr.region_name,
            sr.parent_region_code,
            sr.region_level,
            sr.level_path
        FROM
            smal_region sr
        WHERE
            sr.enabled_flag = 1
        AND
            sr.region_code = #{regionCode}
    </select>
    <select id="selectInvNameByInvCode" resultType="org.srm.mall.other.api.dto.WhLovResultDTO">
        SELECT
            hio.organization_id inventoryId,
            hio.organization_name inventoryName,
            hio.organization_code inventoryCode
        FROM
            hpfm_inv_organization hio
        WHERE
            hio.organization_code = #{inventoryCode}
        AND
            hio.enabled_flag = 1
        AND
            hio.tenant_id = #{organizationId}
        AND
            hio.source_code != "SYSTEM"
    </select>
</mapper>