<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.mall.other.infra.mapper.AllocationInfoMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.srm.mall.other.domain.entity.AllocationInfo">
        <result column="allocation_id" property="allocationId" jdbcType="DECIMAL"/>
        <result column="cart_id" property="cartId" jdbcType="DECIMAL"/>
        <result column="receive_type" property="receiveType" jdbcType="VARCHAR"/>
        <result column="cost_shop_id" property="costShopId" jdbcType="DECIMAL"/>
        <result column="cost_shop_code" property="costShopCode" jdbcType="VARCHAR"/>
        <result column="cost_shop_name" property="costShopName" jdbcType="VARCHAR"/>
        <result column="cost_department_id" property="costDepartmentId" jdbcType="DECIMAL"/>
        <result column="cost_department_code" property="costDepartmentCode" jdbcType="VARCHAR"/>
        <result column="cost_department_name" property="costDepartmentName" jdbcType="VARCHAR"/>
        <result column="receive_warehouse_id" property="receiveWarehouseId" jdbcType="DECIMAL"/>
        <result column="receive_warehouse_code" property="receiveWarehouseCode" jdbcType="VARCHAR"/>
        <result column="receive_warehouse_name" property="receiveWarehouseName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>