<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.mall.agreement.infra.mapper.WatsonsUnitRefMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.srm.mall.agreement.domain.entity.WatsonsUnitRef">
        <result column="unit_ref_id" property="unitRefId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="unit_id" property="unitId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="inv_organization_id" property="invOrganizationId" jdbcType="DECIMAL"/>
        <result column="pur_organization_id" property="purOrganizationId" jdbcType="DECIMAL"/>
        <result column="alias_name" property="aliasName" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="queryUnitByUser" resultType="org.srm.mall.agreement.api.dto.UnitRefDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT hu.unit_id,
        hu.unit_code,
        hut.unit_name,
        hu.level_path,
        CASE WHEN sur.inv_organization_id = -1 THEN NULL ELSE sur.inv_organization_id END inv_organization_id,
        CASE WHEN sur.company_id = -1 THEN NULL ELSE sur.company_id END company_id,
        CASE WHEN sur.pur_organization_id = -1 THEN NULL ELSE sur.pur_organization_id END pur_organization_id,
        hou.ou_id,
        hou.ou_name,
        hc.company_name,
        case when sur.alias_name is null then concat(concat(hu.unit_code,'-'),hu.unit_name) else sur.alias_name end
        alias_name
        FROM hpfm_unit hu
        JOIN(
        SELECT hea.unit_id
        FROM hpfm_employee_user heu
        JOIN hpfm_employee_assign hea ON heu.employee_id = hea.employee_id
        WHERE heu.tenant_id = #{tenantId}
        AND heu.user_id = #{userId}
        ) t ON hu.unit_id = t.unit_id
        LEFT JOIN hpfm_unit_tl hut ON hu.unit_id = hut.unit_id AND hut.lang = #{lang}
        LEFT JOIN smal_unit_ref sur ON sur.tenant_id = #{tenantId} AND sur.unit_id = hu.unit_id
        LEFT JOIN hpfm_inv_organization hio ON sur.inv_organization_id=hio.organization_id AND
        sur.tenant_id=hio.tenant_id
        LEFT JOIN hpfm_operation_unit hou on hio.ou_id=hou.ou_id AND hio.tenant_id=hou.tenant_id
        left join hpfm_company hc on sur.company_id =hc.company_id
        where hu.enabled_flag=1
        <if test="unitName !=null and unitName!=''">
            <bind name="unitNameLike" value="'%'+unitName+'%'"/>
            and hu.unit_name LIKE #{unitNameLike}
        </if>
    </select>


</mapper>