<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.mall.other.infra.mapper.WatsonsAddressMapper">

    <select id="selectUpdateAddressInfo" resultType="org.srm.mall.other.api.dto.WatsonsAddressDTO">
        select
        h.attribute13 longitude,
        h.attribute14 latitude,
        h.organization_id inv_organization_id
        from hpfm_inv_organization h
        where
        h.tenant_id = #{tenantId}
        and h.attribute15 > #{updatedDate}
    </select>

    <select id="selectTenantId" resultType="java.lang.Long">
        select
        tenant_id
        from
        hpfm_tenant
        where
        tenant_num = #{tenantNum}
    </select>

    <select id="selectRegionMapping" resultType="org.srm.mall.other.api.dto.WatsonsAddressDTO">
        select
        m.smal_region_id mall_region_id,
        r.level_path mall_level_path,
        r.region_level mall_region_level,
        m.region_code ad_code
        from
        smal_region_mapping m
        left join smal_region r on m.smal_region_id = r.region_id
        where
        m.source_from = 'BAIDU'
        and m.region_code in
        <foreach collection="adCodeList" index="index" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    
    <select id="selectInvorgAddress" resultType="org.srm.mall.other.api.dto.WatsonsAddressDTO">
        select
        h.organization_id inv_organization_id,
        s.address,
        u.company_id
        from
        hpfm_inv_organization h
        left join spfm_inv_organization s on h.organization_id = s.organization_id
        left join hpfm_operation_unit u on h.ou_id = u.ou_id
        where h.tenant_id = #{tenantId}
        and u.external_system_code != 'SYSTEM'
        and h.organization_id in
        <foreach collection="organizationIdList" separator="," open="(" close=")" item="item" index="index">
            #{item}
        </foreach>
    </select>
</mapper>